---
import Layout from "../layouts/Layout.astro";
import Commits from "../components/Commits.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Slider from "../components/Slider.astro";
import Footer from "../components/Footer.astro";
import Speakers from "../components/Speakers.astro";
import Test from "../components/Test.astro";
import Tickets from "../components/Tickets.astro";
---

<Layout title="DevParaná Conf 2024">
  <main>
    <Commits />
    <Hero />
    <Slider />
    <!-- <About /> -->
    <Speakers />
    <Tickets />
    <!-- <Test /> -->
    <Footer />
  </main>
</Layout>

