<div id="counter" class="">
  <div
    class="grid grid-cols-4 justify-center items-center gap-2 md:gap-4"
  >
    <div
      class="item-counter rounded-lg aspect-square bg-teste/80 border border-green-900/50 w-full p-2 text-white flex flex-col justify-center items-center text-center"
    >
      <div
        class="text-base md:text-lg lg:text-xl font-bold"
        id="days"
      >
        12
      </div>
      <span class="text-xs md:text-sm font-normal text-green-600">Dias</span>
    </div>

    <div
      class="item-counter rounded-lg aspect-square bg-teste/80 border border-green-900/50 w-full p-2 text-white flex flex-col justify-center items-center text-center"
    >
      <div
        class="text-base md:text-lg lg:text-xl font-bold"
        id="hours"
      >
        04
      </div>
      <span class="text-xs md:text-sm font-normal text-green-600">Horas</span>
    </div>

    <div
      class="item-counter rounded-lg aspect-square bg-teste/80 border border-green-900/50 w-full p-2 text-white flex flex-col justify-center items-center text-center"
    >
      <div
        class="text-base md:text-lg lg:text-xl font-bold"
        id="minutes"
      >
        43
      </div>
      <span class="text-xs md:text-sm font-normal text-green-600">Min</span>
    </div>

    <div
      class="item-counter rounded-lg aspect-square bg-teste/80 border border-green-900/50 w-full p-2 text-white flex flex-col justify-center items-center text-center"
    >
      <div
        class="text-base md:text-lg lg:text-xl font-bold"
        id="seconds"
      >
        55
      </div>
      <span class="text-xs md:text-sm font-normal text-green-600">Seg</span>
    </div>
  </div>
</div>

<script>
  function iniciarContador(dataFinal: any) {
    const intervalo = setInterval(function () {
      const agora = new Date().getTime();
      const distancia = dataFinal - agora;

      const dias = Math.floor(distancia / (1000 * 60 * 60 * 24));
      const horas = Math.floor(
        (distancia % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60),
      );
      const minutos = Math.floor((distancia % (1000 * 60 * 60)) / (1000 * 60));
      const segundos = Math.floor((distancia % (1000 * 60)) / 1000);

      document.getElementById("days")!.innerHTML = dias.toString();
      document.getElementById("hours")!.innerHTML = horas.toString();
      document.getElementById("minutes")!.innerHTML = minutos.toString();
      document.getElementById("seconds")!.innerHTML = segundos.toString();

      if (distancia < 0) {
        clearInterval(intervalo);
        document.getElementById("counter")!.innerHTML = "EXPIRADO";
      }
    }, 1000);
  }

  const dataFinal = new Date("Jul 28, 2024 09:00:00").getTime();

  iniciarContador(dataFinal);
</script>
