---

---

<div class="bg-neutral-950 w-full flex items-center justify-center">
  <div class="max-w-7xl w-full mx-auto flex items-center justify-center text-white min-h-96">
    DevParaná Conf 2024
  </div>
</div>
