<div class="w-full mx-auto max-w-7xl py-20 px-4 md:px-8 lg:px-12">
  <div
    class="flex flex-col text-tickets text-2xl md:text-4xl lg:text-6xl font-black text-white text-center"
  >
    <span class="md:whitespace-nowrap">Compre Agora:</span>
    <span class="text-green-600 md:whitespace-nowrap">Ingressos limitados!</span
    >
  </div>
</div>

<section
  class="tickets min-h-screen overflow-hidden mx-auto bg-green-600/90 w-full"
>
  <div class="w-full mx-auto max-w-7xl py-20 px-4 md:px-8 lg:px-12">
  </div>
</section>
