<section class="tickets overflow-hidden mx-auto w-full">
  <div
    class="w-full mx-auto max-w-7xl py-20 px-4 md:px-8 lg:px-12 flex flex-col justify-center items-center gap-8"
  >
    <div class="w-full mx-auto max-w-7xl px-4 md:px-8 lg:px-12 pb-20">
      <div
        class="flex text-tickets flex-col text-2xl md:text-4xl lg:text-6xl font-black text-white text-center"
      >
        <span class="md:whitespace-nowrap">Compre agora:</span>
        <span class="text-green-600 md:whitespace-nowrap"
          >Ingressos limitados!</span
        >
      </div>
    </div>

    <div class="w-full">
      <div
        id="ticket"
        class="bg-green-700/80 hover:bg-green-600 transition-colors border border-green-600/50 rounded-xl p-8 max-w-2xl w-full aspect-video mx-auto"
      >
      </div>
    </div>
  </div>
</section>
