// @use './themes/dark';
@use "sass:map" as map;

@import "./marquee";
@import "./links";
@import "./grid";
@import "./flex";
@import "./text";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  scroll-behavior: smooth;
}

figure {
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
}

body #icons,
body #keys {
  display: none;
}

html,
body {
  height: 100%;
}
html {
  block-size: 100%;
  color-scheme: dark light;
}
body {
  margin: 0;
  min-height: 1000px;
  min-block-size: 100%;
  // place-content: center;
  justify-content: center;
  color: var(--devpr-sys-color-on-surface);
  background-color: var(--devpr-sys-color-surface);

  &.fixed {
    overflow: hidden;
  }

  &.eggs {
    & > .video,
    & > #conf-2023,
    & > #footer,
    & > header,
    & > section {
      display: none;
      position: relative;
    }

    canvas ~ footer {
      bottom: 0;
      width: 100%;
      margin: 16px;
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      opacity: 0.86;
      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
      }
    }
  }
}

devpr-dialog-container {
  position: fixed;
  top: 80px;
  // width: 100vw;
  // display: flex;
  // align-items: center;
  // justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  // background-color: var(--devpr-sys-color-on-surface);

  h3 {
    font-size: 3em;
  }
  p,
  a,
  em {
    font-size: 1.4em;
    line-height: 1.6em;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    li {
      display: inline-flex;
      align-items: flex-start;
      font-size: 1em;
      line-height: 1.4em;
      gap: 8px;
      svg,
      figure svg {
        color: var(--devpr-sys-color-secondary-container);
      }
    }
  }

  .text-0-8 {
    font-size: 0.8em;
  }

  @media (max-width: 991px) {
    h3 {
      font-size: 2em;
      line-height: 2.4em;
    }
    p,
    a,
    em {
      font-size: 1.2em;
      line-height: 1.6em;
    }
  }
}

a:link {
  display: inline-flex;
}

.primary-container {
  color: var(--devpr-sys-color-primary-container);
}
.error-container {
  color: var(--devpr-sys-color-error-container);
}
.tertiary-container {
  color: var(--devpr-sys-color-tertiary-container);
}

dialog {
  align-self: center;
  justify-self: center;
  width: 640px;
  height: 320px;
  z-index: 100;

  &::backdrop {
    width: 100vw;
    height: 100vh;
    background-color: var(--devpr-sys-color-shadow);
  }

  section {
    margin: var(--default-block-margin);
  }

  dialog button:hover {
    cursor: pointer;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.top-right {
  position: absolute;
  top: -12px;
  right: -12px;
}

.ml-24 {
  margin-left: 24px;
}
.mt-24 {
  margin-top: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}

img {
  &.max-300 {
    max-width: 300px;
  }

  &.self-center {
    justify-self: center;
    align-self: center;
  }
  &.rounded {
    border-radius: 50%;
  }

  &.fill {
    width: 100%;
  }
}

picture {
  width: 100%;

  img {
    width: 100%;
  }
}

/**
 * <Header />
 */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;

  .logo {
    color: #fff;
    font-weight: 700;
    font-size: 1.8em;
    line-height: 1em;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 16px;

    svg {
      width: 64px;
      color: var(--devpr-sys-color-primary-container);
      transition: width 500ms ease-in-out, color 500ms ease-in-out;
    }

    span {
      color: var(--devpr-sys-color-primary);
    }

    @media (max-width: 991px) {
      svg {
        width: 48px;
      }
      strong {
        font-size: 1em;
      }
    }
  }

  nav {
    order: 2;
  }

  @media (max-width: 991px) {
    nav {
      order: 1;
    }
  }

  .navigation {
    position: relative;
    display: flex;

    li {
      list-style: none;
      margin-left: 30px;

      a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;

        &:hover {
          color: var(--devpr-sys-color-primary);
        }
      }
    }
  }

  &.sticky {
    background-color: var(--devpr-sys-color-background);
    padding: 10px 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

    .logo {
      color: #e5e2e2;

      svg {
        width: 42px;
        color: var(--devpr-sys-color-on-secondary-container);
      }
    }

    .navigation li a {
      color: var(--devpr-sys-color-on-surface);
      transition: color 250ms ease-in-out;

      &.active {
        color: var(--devpr-sys-color-primary);
      }
    }
  }
}

/**
 * <Banner />
 */
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/assets/images/calil-haddad.webp");
  background-size: cover;
  background-position: center;

  .content {
    width: 100vw;
    margin-top: 50px;
    max-width: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h2 {
      font-size: 5em;
      color: var(--devpr-sys-color-on-background);
    }

    h3 {
      font-size: 4em;
      color: var(--devpr-sys-color-on-background);
    }

    p {
      font-size: 1.4em;
      color: var(--devpr-sys-color-on-background);
    }

    .countdown {
      display: flex;
      align-items: baseline;
      justify-content: center;
      flex-flow: row wrap;
      gap: 8px;
      > div {
        display: inline-flex;
        align-items: baseline;
        gap: 5px;
      }

      small {
        font-size: 0.8em;
        font-weight: 400;
      }

      var {
        font-style: normal;
        color: var(--devpr-sys-color-secondary);
      }
    }
  }
}

.btn {
  font-size: 1em;
  color: var(--devpr-sys-color-on-primary);
  background: var(--devpr-sys-color-primary);
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 24px;
  margin-top: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 32px;
  letter-spacing: 0px;
  transition: 0.5s;
  cursor: pointer;

  box-shadow: 0px 2px 4px var(--devpr-sys-color-outline);

  &.small {
    padding: 8px 16px;
    margin-top: 8px;
  }

  &.rounded {
    margin-top: 0;
    padding: 8px;
    justify-content: center;
    border-radius: 50%;
    border-style: solid;
  }
}

.social-link {
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px var(--devpr-sys-color-outline-variant);
  transition: box-shadow 150ms ease-in-out;

  &:hover {
    box-shadow: 0px 1px 2px var(--devpr-sys-color-outline-variant);
  }
}

.btn:hover {
  letter-spacing: 2px;
}

section {
  padding: 100px;

  &:last-of-type {
    padding-bottom: 2em;
  }
}

.about {
  h3 {
    color: var(--devpr-sys-color-primary);
    font-size: 3rem;
  }

  @media (max-width: 991px) {
    h3 {
      font-size: 4rem;
      align-self: flex-start;
    }
    em {
      font-size: 1.6rem;
    }
  }
}

span {
  // color: map.get(theme.$dark, devpr, sys, color, primary);
  color: var(--devpr-sys-color-primary);
  font-weight: 700;
  // font-size: 1.5em;
}

.row .col50 .imgBx {
  position: relative;
  width: 100%;
  /* min-height: 300px; */
  height: 100%;
}
.row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.speakers h2,
.supports h2,
.get-involved h2,
.testimonials h2,
.companies h2,
.faq h2,
.contact h2 {
  font-size: 3rem;
}

/**
 * <Speakers />
 */
.speakers {
  .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;

    .box {
      width: 320px;
      margin: 20px;
      border-radius: 8px;
      padding: 14px;
      border: 1px solid var(--devpr-sys-color-outline-variant);
      background-color: var(--devpr-sys-color-surface-dim);
      box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);

      .imgBx {
        position: relative;
        width: 100%;
        height: 300px;

        img {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      .text {
        padding: 15px 0 5px;
        color: var(--devpr-sys-color-on-surface);

        svg {
          color: var(--devpr-sys-color-on-surface);
        }

        button svg {
          color: var(--devpr-sys-color-surface);
        }

        em {
          font-size: 1.4rem;
        }

        h2 {
          font-size: 2em;
        }
        h2,
        h3 {
          font-weight: 600;
        }
      }
    }
  }
}

/**
 * <Supports />
 */
.supports {
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;

    .box {
      padding: 0 16px 16px;
      width: 320px;
      margin: 15px;
      border: 1px solid var(--devpr-sys-color-inverse-on-surface);
      border-radius: 16px;

      .imgBx {
        position: relative;
        width: 100%;
        height: 300px;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text {
        padding: 15px 0 5px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        h3 {
          font-size: 2em;
          font-weight: 400;
          color: var(--devpr-sys-color-on-background);
        }

        em {
          font-style: normal;
          margin-bottom: 16px;
        }

        p {
          font-size: 1.1em;
        }

        h4 {
          margin-top: 0;
          font-weight: 400;
          font-size: 1.8rem;
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;

          flex: 1;

          li {
            gap: 8px;
            display: flex;
            align-items: center;
            font-weight: 300;
            flex: 1;
            em {
              flex: 1;
            }
            svg {
              width: 32px;
              color: var(--devpr-sys-color-primary);
            }
          }
        }
      }
    }
  }
}

/**
 * <GetInvolved />
 */
.get-involved {
  .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;

    .box {
      padding: 0 16px 16px;
      width: 300px;
      margin: 15px;
      border: 1px solid var(--devpr-sys-color-inverse-on-surface);
      border-radius: 16px;

      .imgBx {
        position: relative;
        width: 100%;
        height: 300px;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text {
        padding: 15px 0 5px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        h3 {
          font-size: 1.5em;
          font-weight: 400;
          color: var(--devpr-sys-color-on-background);
        }

        em {
          font-style: normal;
          margin-bottom: 16px;
        }

        p {
          font-size: 1.1em;
        }

        h4 {
          margin-top: 0;
          font-weight: 400;
          font-size: 1.8rem;
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;

          flex: 1;

          li {
            gap: 8px;
            display: flex;
            align-items: center;
            font-weight: 300;
            flex: 1;
            em {
              flex: 1;
            }
            svg {
              width: 32px;
              color: var(--devpr-sys-color-primary);
            }
          }
        }
      }
    }
  }
}

/**
 * <Supporters />
 */

.supporters {
  .marquee__group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
  }

  h3 {
    font-size: 1.6em;
    opacity: 0.6;
    transition: opacity 200ms ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
/**
 * <Companies />
 */

.companies {
  height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100vw;

  .content {
    position: absolute;
    background: rgba(7, 8, 9, 0.8);
    background: linear-gradient(
      180deg,
      rgba(7, 8, 9, 1) 10%,
      rgba(7, 8, 9, 0) 75%,
      rgba(7, 8, 9, 1) 100%
    );
    flex: 1;
    // min-height: 50vh;
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 40px;

    > a:not([hidden]) {
      position: absolute;
      display: inline-flex;
      max-width: 80vw;
      img {
        width: 100%;
      }
    }
  }
}

/**
 * <Testimonials />
 */
.faq {
  // background: url("/assets/images/testimonials-2023.webp");
  // background-size: contain;

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    gap: 64px;

    .accordion {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    details {
      display: flex;
      flex-direction: column;
      gap: 16px;

      font-size: 1.1em;

      padding: 16px 24px;
      border-radius: 12px;
      border-style: solid;
      border-width: 1.5px;
      border-color: var(--devpr-sys-color-on-surface);

      summary {
        cursor: pointer;
        font-size: 1.2em;
        transition: font-size 100ms ease-in-out;
        list-style: none;
        display: flex;
        align-items: center;

        h4 {
          margin: 0;
          flex: 1;
        }

        svg {
          transition: transform 200ms ease-in-out;
        }
      }

      &[open] {
        border-color: var(--devpr-sys-color-primary);
        summary {
          color: var(--devpr-sys-color-primary);

          svg {
            transform: rotate(45deg);
          }
          // font-size: 1.4em;
        }
      }

      div {
        margin: 8px 0 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }
}

/**
 * <Testimonials />
 */
.testimonials {
  background: url("/assets/images/testimonials-2023.webp");
  background-size: contain;

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;

    .box {
      width: 340px;
      margin: 20px;
      padding: 40px;
      background: var(--devpr-sys-color-on-background);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .imgBx {
        position: relative;
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
        border-radius: 50%;
        overflow: hidden;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text {
        text-align: center;

        p {
          color: var(--devpr-sys-color-surface-variant);
          font-style: italic;
        }

        h3 {
          margin-top: 20px;
          font-size: 1em;
          color: var(--devpr-sys-color-inverse-on-surface);
          font-weight: 600;
        }
      }
    }
  }
}

.white .titleText,
.white p {
  color: var(--devpr-sys-color-on-background);
}

/**
 * <Contact />
 */
.contact {
  background: url("/assets/images/dentro-do-calil-haddad.webp");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .contactForm {
    padding: 75px 50px;
    background: var(--devpr-sys-color-surface-container-lowest);
    opacity: 0.6;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;

    h3 {
      color: var(--devpr-sys-color-on-background);
      font-size: 1.2em;
      margin-bottom: 20px;
      font-weight: 500;
    }

    .inputBox {
      position: relative;
      width: 100%;
      margin-bottom: 20px;

      input,
      textarea {
        width: 100%;
        border: 1px solid var(--devpr-sys-color-surface-variant);
        padding: 10px;
        color: var(--devpr-sys-color-on-background);
        outline: none;
        font-size: 16px;
        font-weight: 300;
        resize: none;
      }

      input[type="submit"] {
        font-size: 1em;
        color: var(--devpr-sys-color-surface);
        background-color: var(--devpr-sys-color-primary);
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        transition: 0.5s;
        max-width: 100px;
        font-weight: 500;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.copyleftText {
  padding: 8px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
.copyleftText p {
  color: var(--devpr-sys-color-on-surface);

  svg {
    color: var(--devpr-sys-color-error-container);
  }
}
.copyleftText a {
  color: var(--devpr-sys-color-primary);
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {
  a[aria-label="cs-go"] {
    display: none;
  }
}

.video {
  padding: 0;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100vw;

  video {
    position: absolute;
    object-fit: cover;
    min-height: 100vh;
  }

  video ~ div button {
    // opacity: 0;

    figure.play {
      opacity: 0;
    }
    figure.pause {
      opacity: 1;
    }
  }
  video.paused ~ div button {
    // opacity: 1;

    figure.play {
      opacity: 1;
    }
    figure.pause {
      opacity: 0;
    }
  }

  div {
    position: absolute;
    background: rgba(7, 8, 9, 0.8);
    background: linear-gradient(
      180deg,
      rgba(7, 8, 9, 1) 10%,
      rgba(7, 8, 9, 0) 75%,
      rgba(7, 8, 9, 1) 100%
    );
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      position: relative;
      display: flex;
      align-items: center;
      justify-items: center;
      border-radius: 50%;
      border: none;
      padding: 0;
      width: 128px;
      height: 128px;
      z-index: 1001;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 1;
      transition: opacity 500ms ease-out, visibility 500ms ease-out;

      figure {
        position: absolute;
        color: var(--devpr-sys-color-primary-container);
      }

      &.hidden {
        opacity: 0;
        visibility: hidden;
      }
    }
    &:hover button {
      opacity: 1;
    }
    // &:active button,
    // &:target button {
    //   opacity: 0;
    // }
  }
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  gap: 8px;
  flex: 1;

  > ul {
    margin-bottom: 48px;
    list-style: none;
    align-items: center;
    display: flex;

    li:last-child {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

@media (max-width: 991px) {
  header,
  header .sticky {
    padding: 10px 20px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--devpr-sys-color-surface);
  }
  header .navigation li {
    margin-left: 0;
  }
  header .navigation li a {
    color: var(--devpr-sys-color-on-background);
    font-size: 1.6em;
  }
  .menuToggle {
    order: 2;
    position: relative;
    width: 40px;
    height: 40px;
    background: url("https://lh3.googleusercontent.com/u/0/d/1abH3EQsB3dcp9SAU0iYciKs0btvl5fWB=w1125-h657-iv1");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .menuToggle.active {
    background: url("https://lh3.googleusercontent.com/u/0/d/1xlluSvPa-j-cDgT_XML_5ztWkNldr1LF=w1125-h657-iv1");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  section {
    padding: 20px;
  }
  .banner .content {
    gap: 0px;
  }
  .banner .content h2 {
    font-size: 2em;
    color: var(--devpr-sys-color-on-surface);
  }
  .banner .content h3 {
    margin-top: 16px;
    font-size: 1.4em;
    margin-bottom: 24px;
    color: var(--devpr-sys-color-on-surface);
  }
  .banner .content small {
    font-size: 0.6em;
  }
  .row {
    flex-direction: column;
  }
  .row .col50 {
    position: relative;
    width: 100%;
  }
  .row .col50 .imgBx {
    height: 300px;
    margin-top: 20px;
  }
  .speakers .content {
    margin-top: 20px;
  }
  .speakers .content .box {
    margin: 10px;
  }
  .speakers .content .box .imgBx {
    height: 260px;
  }
  .title {
    text-align: center;
  }
  .titleText {
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 300;
    color: var(--devpr-sys-color-on-background);
  }
  .testimonials .content .box {
    width: 340px;
    margin: 10px;
    padding: 20px;
  }
  .supports .content .box .text h3 {
    font-size: 1.6em;
  }
  .supports .content .box .text h4 {
    font-size: 1.4em;
  }
  .contactForm {
    padding: 35px 40px;
  }

  #footer {
    flex-direction: column;
  }

  #su27-slider {
    display: none;
  }
}
@media (max-width: 480px) {
  .banner .content h2 {
    font-size: 2.2em;
    // color: #fff;
  }
}

a[hidden] {
  display: none;
}

.game {
  position: fixed;
  width: 100vw;
  height: 100vh;
  position: relative;

  button.key {
    width: 3em;
    height: 3em;

    background: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.75);
    border-radius: 8px;

    margin-top: 0px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.5;

    &:active {
      margin-top: 4px;
      margin-bottom: 0px;
      box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.75);
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 1em;

    display: none;
  }

  @media (max-width: 991px) {
    nav {
      display: flex;
    }
  }
}
