---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="loader flex items-center justify-center text-center w-screen h-screen bg-neutral-950 z-50 gap-4 text-green-600"
    >
      <span id="loading" class="">0%</span>
    </div>
    <slot />
  </body>
</html>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
  import imagesLoaded from "imagesloaded";
  import SplitType from "split-type";

  document.body.style.overflow = "hidden";

  gsap.registerPlugin(ScrollTrigger, SplitType);

  ScrollTrigger.defaults({
    // toggleActions: "restart pause reverse pause",
    toggleActions: "restart",
    scroller: "body",
  });

  const images: HTMLImageElement[] = gsap.utils.toArray("img");

  const loader = document.querySelector("#loading")!;
  const updateProgress = (instance: any) =>
    (loader.textContent = `${Math.round(
      (instance.progressedCount * 100) / images.length,
    )}%`);

  const showDemo = () => {
    document.body.style.overflow = "auto";
    document?.scrollingElement?.scrollTo(0, 0);
    gsap.to(document.querySelector(".loader"), { autoAlpha: 0 });

    gsap.utils
      .toArray(".demo-gallery")
      .forEach((section: any, index: number) => {
        const w: HTMLElement = section.querySelector(".wrapper");
        const [x, xEnd] =
          index % 2
            ? ["100%", (w.scrollWidth - section.offsetWidth) * -1]
            : [w.scrollWidth * -1, 0];
        gsap.fromTo(
          w,
          { x },
          {
            x: xEnd,
            scrollTrigger: {
              trigger: section,
              scrub: 0.5,
            },
          },
        );
      });
  };

  const fades = () => {
    gsap.from(".animate-top", {
      scrollTrigger: ".animate-top",
      y: 100,
      opacity: 0,
    });

    gsap.from(".animate-bottom", {
      scrollTrigger: ".animate-bottom",
      y: -100,
      opacity: 0,
    });

    gsap.from(".animate-left", {
      scrollTrigger: ".animate-left",
      x: -100,
      opacity: 0,
    });

    gsap.from(".animate-right", {
      scrollTrigger: ".animate-left",
      x: 100,
      opacity: 0,
    });
  };

  const textHero = () => {
    const ourText = new SplitType(".text-hero", { types: "words" });
    const words = ourText.words;

    gsap.fromTo(
      words,
      {
        y: 50,
        opacity: 0,
      },
      {
        y: 0,
        opacity: 1,
        stagger: 0.1,
        duration: 0.5,
        ease: "power1.out",
      },
    );
  };

  const speakers = () => {
    gsap.registerPlugin(ScrollTrigger);

    let horizontalSection = document.querySelector(".horizontal")!;

    console.log(horizontalSection);

    gsap.to(".horizontal", {
      x: () => horizontalSection.scrollWidth * -1,
      xPercent: 100,
      scrollTrigger: {
        trigger: ".horizontal",
        start: "center center",
        end: "+=2000px",
        pin: "#horizontal-scoll",
        scrub: true,
        invalidateOnRefresh: true,
      },
    });
  };

  const testtt = () => {
    gsap.registerPlugin(ScrollTrigger);

    ScrollTrigger.defaults({
      toggleActions: "restart",
      scroller: "body",
    });

    gsap.from(".orange p", {
      scrollTrigger: ".orange",
      stagger: 0.1,
      duration: 0.5,
      y: 200,
      ease: "power1.out",
    });

    gsap.to(".red", {
      scrollTrigger: {
        trigger: ".red",
        toggleActions: "restart",
      },
      stagger: 0.1,
      duration: 0.5,
      backgroundColor: "#FFA500",
      ease: "power1.out",
    });
  };

  (imagesLoaded(images) as any)
    .on("progress", updateProgress)
    .on("always", textHero)
    .on("always", showDemo)
    .on("always", fades)
    .on("always", speakers)
    .on("always", testtt);
</script>

<style is:global>
  html {
    font-family: "Space Grotesk", sans-serif;
    background: #0a0a0a;
    /* overflow-y: scroll; */
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
    /* overflow-y: visible; */
    position: relative;
    height: unset;
  }

  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-track {
    background: #171717;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #15803d;
    border: 4px solid #171717;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #16a34a;
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    z-index: 10000;
  }
</style>
