.dark-medium-contrast {
  --devpr-sys-color-primary: rgb(98 247 114);
  --devpr-sys-color-surface-tint: rgb(75 226 96);
  --devpr-sys-color-on-primary: rgb(0 43 7);
  --devpr-sys-color-primary-container: rgb(46 203 76);
  --devpr-sys-color-on-primary-container: rgb(0 0 0);
  --devpr-sys-color-secondary: rgb(106 227 117);
  --devpr-sys-color-on-secondary: rgb(0 27 4);
  --devpr-sys-color-secondary-container: rgb(38 166 65);
  --devpr-sys-color-on-secondary-container: rgb(0 0 0);
  --devpr-sys-color-tertiary: rgb(255 238 209);
  --devpr-sys-color-on-tertiary: rgb(63 46 0);
  --devpr-sys-color-tertiary-container: rgb(249 188 0);
  --devpr-sys-color-on-tertiary-container: rgb(23 15 0);
  --devpr-sys-color-error: rgb(255 186 177);
  --devpr-sys-color-on-error: rgb(55 0 1);
  --devpr-sys-color-error-container: rgb(255 84 73);
  --devpr-sys-color-on-error-container: rgb(0 0 0);
  --devpr-sys-color-background: rgb(14 21 13);
  --devpr-sys-color-on-background: rgb(220 229 214);
  --devpr-sys-color-surface: rgb(17 20 18);
  --devpr-sys-color-on-surface: rgb(250 251 246);
  --devpr-sys-color-surface-variant: rgb(69 71 75);
  --devpr-sys-color-on-surface-variant: rgb(202 202 207);
  --devpr-sys-color-outline: rgb(161 163 167);
  --devpr-sys-color-outline-variant: rgb(129 131 136);
  --devpr-sys-color-shadow: rgb(0 0 0);
  --devpr-sys-color-scrim: rgb(0 0 0);
  --devpr-sys-color-inverse-surface: rgb(225 227 222);
  --devpr-sys-color-inverse-on-surface: rgb(40 43 40);
  --devpr-sys-color-inverse-primary: rgb(0 84 22);
  --devpr-sys-color-primary-fixed: rgb(111 255 123);
  --devpr-sys-color-on-primary-fixed: rgb(0 22 2);
  --devpr-sys-color-primary-fixed-dim: rgb(75 226 96);
  --devpr-sys-color-on-primary-fixed-variant: rgb(0 64 15);
  --devpr-sys-color-secondary-fixed: rgb(131 252 139);
  --devpr-sys-color-on-secondary-fixed: rgb(0 22 3);
  --devpr-sys-color-secondary-fixed-dim: rgb(102 223 114);
  --devpr-sys-color-on-secondary-fixed-variant: rgb(0 64 17);
  --devpr-sys-color-tertiary-fixed: rgb(255 223 158);
  --devpr-sys-color-on-tertiary-fixed: rgb(25 16 0);
  --devpr-sys-color-tertiary-fixed-dim: rgb(250 189 0);
  --devpr-sys-color-on-tertiary-fixed-variant: rgb(71 51 0);
  --devpr-sys-color-surface-dim: rgb(17 20 18);
  --devpr-sys-color-surface-bright: rgb(55 58 55);
  --devpr-sys-color-surface-container-lowest: rgb(12 15 13);
  --devpr-sys-color-surface-container-low: rgb(25 28 26);
  --devpr-sys-color-surface-container: rgb(29 32 30);
  --devpr-sys-color-surface-container-high: rgb(40 43 40);
  --devpr-sys-color-surface-container-highest: rgb(51 53 51);
}
