.light {
  --devpr-sys-color-primary: rgb(0 110 32);
  --devpr-sys-color-surface-tint: rgb(0 110 32);
  --devpr-sys-color-on-primary: rgb(255 255 255);
  --devpr-sys-color-primary-container: rgb(70 222 92);
  --devpr-sys-color-on-primary-container: rgb(0 61 14);
  --devpr-sys-color-secondary: rgb(0 110 35);
  --devpr-sys-color-on-secondary: rgb(255 255 255);
  --devpr-sys-color-secondary-container: rgb(57 180 77);
  --devpr-sys-color-on-secondary-container: rgb(0 21 3);
  --devpr-sys-color-tertiary: rgb(120 89 0);
  --devpr-sys-color-on-tertiary: rgb(255 255 255);
  --devpr-sys-color-tertiary-container: rgb(255 202 77);
  --devpr-sys-color-on-tertiary-container: rgb(80 58 0);
  --devpr-sys-color-error: rgb(186 26 26);
  --devpr-sys-color-on-error: rgb(255 255 255);
  --devpr-sys-color-error-container: rgb(255 218 214);
  --devpr-sys-color-on-error-container: rgb(65 0 2);
  --devpr-sys-color-background: rgb(243 252 237);
  --devpr-sys-color-on-background: rgb(22 30 21);
  --devpr-sys-color-surface: rgb(248 250 245);
  --devpr-sys-color-on-surface: rgb(25 28 26);
  --devpr-sys-color-surface-variant: rgb(226 226 231);
  --devpr-sys-color-on-surface-variant: rgb(69 71 75);
  --devpr-sys-color-outline: rgb(117 119 123);
  --devpr-sys-color-outline-variant: rgb(197 198 203);
  --devpr-sys-color-shadow: rgb(0 0 0);
  --devpr-sys-color-scrim: rgb(0 0 0);
  --devpr-sys-color-inverse-surface: rgb(46 49 46);
  --devpr-sys-color-inverse-on-surface: rgb(240 241 237);
  --devpr-sys-color-inverse-primary: rgb(75 226 96);
  --devpr-sys-color-primary-fixed: rgb(111 255 123);
  --devpr-sys-color-on-primary-fixed: rgb(0 34 5);
  --devpr-sys-color-primary-fixed-dim: rgb(75 226 96);
  --devpr-sys-color-on-primary-fixed-variant: rgb(0 83 22);
  --devpr-sys-color-secondary-fixed: rgb(131 252 139);
  --devpr-sys-color-on-secondary-fixed: rgb(0 33 5);
  --devpr-sys-color-secondary-fixed-dim: rgb(102 223 114);
  --devpr-sys-color-on-secondary-fixed-variant: rgb(0 83 24);
  --devpr-sys-color-tertiary-fixed: rgb(255 223 158);
  --devpr-sys-color-on-tertiary-fixed: rgb(38 26 0);
  --devpr-sys-color-tertiary-fixed-dim: rgb(250 189 0);
  --devpr-sys-color-on-tertiary-fixed-variant: rgb(91 67 0);
  --devpr-sys-color-surface-dim: rgb(217 219 214);
  --devpr-sys-color-surface-bright: rgb(248 250 245);
  --devpr-sys-color-surface-container-lowest: rgb(255 255 255);
  --devpr-sys-color-surface-container-low: rgb(243 244 239);
  --devpr-sys-color-surface-container: rgb(237 238 234);
  --devpr-sys-color-surface-container-high: rgb(231 233 228);
  --devpr-sys-color-surface-container-highest: rgb(225 227 222);
}
